@import "../_base/_variables.scss";

@page {
    size: auto;
    margin: 1.5cm;
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
    }

    .page-body {
        padding: 0;
    }

    header, footer {
        display: none !important;
    }

    .v-card {   
        border: 1px solid #ccc !important;
        box-shadow: none !important;
    }
}
