@import "../_base/_variables.scss";

#page-not-found {
    h1 {
        padding-top: 50px;
        font-size: 10rem;
        font-weight: bold;
    }

    h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
}
