@import "../_base/_variables.scss";
@import "../_base/_mixins.scss";

.v-input {
    input {
        font-size: $textSmall;
    }
}

.v-label {
    font-size: $textSmall;
}

input[type="checkbox"],
input[type="radio"] {
    ~ label {
        margin-left: 5px;
    }
}
