@import "../_base/_variables.scss";
@import "../_base/_mixins.scss";

html,
body {
    font-size: 15px;
}

.page-body {
    background-color: $body-bg;
}

.container {
    padding: 30px;
}

.border-0 {
    border: none !important;
}

.user-avatar {
    font-size: 1.2em;
    box-shadow: 0 0 3px white;
    border: 1px solid white;
}
